@media (max-width: 991px) {
    .container {
        padding: 0 20px; 
    }
    .advantages__items{
        width: 230px;
    }
    .carousel__image {
        display: block; 
        margin: 0 auto; 
        width: 80%;
    }
    .catalog__content_active {
        justify-content: space-around;
    }
} 
@media (max-width: 768px) {
    .carousel__inner {
        width: auto;
    }
    .header {
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 20;
        width: 100%;
        background-color: $navbar;
        height: 61px;
        &__logo {
            position: absolute;
            top: 10px;
            left: 5px;
            z-index: 10;
            width: 200px;
        }
        &__official{
            display: none;
        }
        &__contacts{
            display: none;
        }
        .hamburger {
            display: block; 
            position: absolute;
            top: 0px;
            right: 0px
        }
    }
    .display {
        height: 150px;
        transition: 0.2s all;
        justify-content: space-around;
        .header {
          
            &__official {
                padding-top: 20px;
                display: block;
            }
            &__contacts {
                padding-top: 20px;
                display: block;
                .button {
                    background-color: white;
                    color: black
                }
            }
        }
    }
    .contact-form{
        width: auto;
    }
    .title_left {
        font-size: 24px;
        text-align: center;
    }
    .footer__info{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
    }
}
@media (max-width: 576px) {
   .promo {
       &__header {
           font-size: 30px;
       }
       &__subheader {
           font-size: 22px;
       }
   }
   .advantages {
       &__wrapper {
           display: block;
       }
       &__items {
           width: auto;
       }
   }
   .catalog__tabs{
        display: block;
       
   }
   .catalog__tab{
       transform: none;
       width: 100%;
       margin-bottom: 5px;
       div {
           transform: none;
       }
   }
   .reviews__item{
       display: block; 
   }
   .reviews__right-part{
       margin-left: 0;
       margin-top: 10px;
   }
}
@media (max-width: 500px) {
    .promo {
        &__header {
            font-size: 20px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: auto;
        }
        &__wrapper{
            display: block;
        }
    }
    .header__phone {
        font-size: 17px;
        font-weight: 300;
    }
    .header__official {
        font-size: auto;
        font-weight: 300;
    }
    .display {
        height: 350px;
        transition: 0.2s all;
        flex-direction: column;
        justify-content: center;
        .header {
            &__official {
                padding-top: 20px;
                display: block;
            }
            &__contacts {
                padding-top: 40px;
                display: block;
                .button {
                    background-color: white;
                    color: black
                }
            }
        }
    }
    .button_main { 
        width: 264px;
    }
    .catalog-item__prices {
        font-size: 17px;
    }
    .overlay .modal__close {
        top: 0px;
        right: 0px;
    }
    .overlay .modal{
        width: 100%;
    }
}