@import 'base/variables';
@import 'base/hamburger';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    max-width: 950px;
    margin : 0 auto; 
}

@import 'bloks/promo'; 
@import 'bloks/header';
@import 'bloks/buttons'; 
@import 'bloks/advantages';
@import 'bloks/title'; 
@import 'bloks/consultation';
@import 'bloks/contact-form'; 
@import 'bloks/carousel'; 

@import 'base/media'