.advantages{
    padding: 70px 0 78px 0;
    background: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__items{
        width: 247px;
        text-align: center;
        margin-top: 65px;
        img {
            display: block;
            margin: 0 auto
        }
    }
    &__subtitle {
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding: 38px 0 26px 0; 
    }
   &__describe {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #0d0d0d;
        &_red {
            color: red; 
            text-decoration: underline;
            &:hover {
                color: red; 
            }
        }
   }
}