.title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        text-transform: uppercase;
    }
    &_catalog{
        text-transform: uppercase;
    }
}